h4 {
    text-align: center;
}

.jieliufam, .map {
    .bt {
        height: 30px;
        line-height: 30px;
    }
    .show {
        border: 1px solid #c0c0c0;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        padding-left: 20px;
        .clickSum {
            padding: 0 5px;
        }
        .zs {
            margin-left: 50px;
        }
    }
}

pre {
    background: rgb(243,243,243);
}
ul{
    padding-left: 50px;
}