h1 {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #c0c0c0;
}
nav {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #c0c0c0;
    ul {
        width: 80%;
        margin: 0 auto;
        li {
            list-style: none;
            float: left;
            border-left: 1px solid #c0c0c0;
            padding: 0 10px;
            cursor: pointer;
            &:last-child {
                border-right: 1px solid #c0c0c0;
            }
            outline: none;
        }
        
    }
}
.contentBox {
    width: 80%;
    margin: 10px auto 0 auto;
}